.input {
    color: $gray-100;
    background-color: $gray-500;

    border: 1px solid $gray-700;
    border-radius: .5rem;

    padding: 1rem;
    width: 100%;

    &::placeholder {
        color: $gray-300;
    }

    &:focus {
        outline: none;
        border-color: $purple-dark;
    }
}