.deleteButton {
    cursor: pointer;

    padding: 0.375rem;
    height: min-content;

    border: none;
    border-radius: .25rem;

    background-color: transparent;

    &__icon {
        path {
            fill: $gray-300;
        }
    }

    &:hover {
        background-color: $gray-400;

        .deleteButton__icon {
            path {
                fill: $danger;
            }
        }
    }
}